@import '../../../_variables.sass'

.MemoryBox
  color: #ffffff
  padding: 7px
  border: 1px solid transparent
  a
    &:hover
      color: #ffffff
      h2
        color: $blue
  img
    width: 100%
    border: 2px solid #ffffff
  h2
    margin: 5px 0
  &:hover
    background: rgba(255,255,255,.2)
    border: 1px solid #898989